---
<img height="90" src="unnamed.png" width="90" alt="Google" id="hplogo" title="Gacademy">
<center><h2>welcome to the python course for Gstat Employees</h2></center>
<center><h2>Class 1.2</h2></center>

---

# Flow control

#### Conditions

In [2]:
i = 5

if i<3:
    print ("Smaller")
else:
    print ("Larger")

Larger

In [42]:
s = 'Big tree'

if s[0] == s[-1]:
    print ("Part-Mirror")
    
elif s[0] ==s[1]:
    print ("Part-similar")
    
else:
    print ("None")

None

In [43]:
if True:
    print(1)

1

================================================================================================================

#### Loops

In [63]:
# range is a very useful function to provide values within a given range
range(5)

range(0, 5)

In [64]:
# From 0 to n-1
n = 5
for i in range(n):
    print (i)

0
1
2
3
4

In [65]:
i=0
while i <5:
    print (i)
    i+=1

0
1
2
3
4

#### Skip over one or more loops

In [66]:
for i in range(5):
    if i==3:
        continue
    print (i)

0
1
2
4

#### Break loop

In [67]:
for i in range(5):
    if i==3:
        break
    print (i)

0
1
2

In [68]:
for i in range (2,30,2):
    print (i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [69]:
for i in range (30,2,-2):
    print (i)

30
28
26
24
22
20
18
16
14
12
10
8
6
4

#### list comprehension
Print all primary integers between 10 and 100

In [70]:
[i for i in range (100) if len([1 for j in range (2,i) if i/j == int(i/j)]) ==0 ]

[0,
 1,
 2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

#### dictionary comprehension

In [71]:
{str(i):i for i in [1,2,3,4,5]}

{'1': 1, '2': 2, '3': 3, '4': 4, '5': 5}

In [72]:
fruits = ['apple', 'mango', 'banana','cherry']
{f:len(f) for f in fruits}

{'apple': 5, 'banana': 6, 'cherry': 6, 'mango': 5}

In [73]:
{f:f.capitalize() for f in fruits}

{'apple': 'Apple', 'banana': 'Banana', 'cherry': 'Cherry', 'mango': 'Mango'}

In [74]:
{f:i for i,f in enumerate(fruits)}

{'apple': 0, 'banana': 2, 'cherry': 3, 'mango': 1}

In [75]:
f_dict = {f:i for i,f in enumerate(fruits)}
f_dict

{'apple': 0, 'banana': 2, 'cherry': 3, 'mango': 1}

In [76]:
{v:k for k,v in f_dict.items()}

{0: 'apple', 1: 'mango', 2: 'banana', 3: 'cherry'}

#### Iterating over objects (list/ string/tuples/dictionaries)

In [91]:
seq = [1,2,3,4,5]

In [92]:
for item in seq:
    print(item)

1
2
3
4
5

In [93]:
for letter in 'This is a string.':
    print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g
.

Tuples have a special quality when it comes to **for** loops. If you are iterating through a sequence that contains tuples, the item can actually be the tuple itself, this is an example of *tuple unpacking*. During the **for** loop we will be unpacking the tuple inside of a sequence and we can access the individual items inside that tuple!

In [94]:
l = [(2,4),(6,8),(10,12)]

In [95]:
for tup in l:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [96]:
# Now with unpacking!
for (t1,t2) in l:
    print(t1)

2
6
10

With tuples in a sequence we can access the items inside of them through unpacking! The reason this is important is because many object will deliver their iterables through tuples.

In [97]:
d = {'k1':1,'k2':2,'k3':3}

In [98]:
for item in d:
    print(item)

k1
k2
k3

#### items()
iterate through the keys and values of a dictionary. For example:

In [99]:
# For Python 3
for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3

items() now return iterators, and a list is never fully built.

In [100]:
A = ["a","d","d"]
B = [1, 2, 3]
C = [1, 2, 3]

for a, b, c in zip(*[A,B,C]):
    print(a, b, c)

a 1 1
d 2 2
d 3 3

In [87]:
for a, b, c in zip(A,B,C):
    print(a, b, c)

a 1 1
d 2 2
d 3 3

================================================================================================================

#### functions

In [88]:
def example1():
    
    print(1)

In [89]:
example()

1

In [173]:
example(1)

TypeError: example() takes 0 positional arguments but 1 was given

In [174]:
def example2(a):
    
    print(a)

In [176]:
example2(2)

2

In [175]:
example2()

TypeError: example2() missing 1 required positional argument: 'a'

In [177]:
def example3(a=None):
    
    print(a)

In [178]:
example3()

None

In [179]:
example3(4)

4

#### scope (local variable/global variable)

In [287]:
a = 3

def example1(a):
    print(a)
    
def example2():
    print(a)

In [288]:
example1(2)
example2()

2
3

In [181]:
def multiply(*args):
    z = 1
    for num in args:
        z *= num
    print(z)

In [182]:
multiply(4, 5)
multiply(10, 9)
multiply(2, 3, 4)
multiply(3, 5, 10, 6)

20
90
24
900

In [184]:
def print_values(**kwargs):
    for key, value in kwargs.items():
        print("The value of {} is {}".format(key, value))

In [185]:
print_values(my_name="Sammy", your_name="Casey")

The value of my_name is Sammy
The value of your_name is Casey

In [186]:
def func(*args,**kwargs):
    
    print(args)
    print(kwargs)

In [194]:
func(*{"a":1,"b":2},3,4,65,4,4,a=21,b=2)

('a', 'b', 3, 4, 65, 4, 4)
{'a': 21, 'b': 2}

In [189]:
func({"a":1,"b":2},3,4,65,4,4,a=21,b=2)

({'a': 1, 'b': 2}, 3, 4, 65, 4, 4)
{'a': 21, 'b': 2}

u can't use it outside of a function call

In [202]:
*{"a":1,"b":2}

SyntaxError: can't use starred expression here (<ipython-input-202-5c193ab5b6f4>, line 1)

In [204]:
def func2(a,b,c=None,*args,**kwargs):
    
    print(a)
    print(b)
    print(c)
    print(args)
    print(kwargs)

In [205]:
func2(*{"a":(1,2,3),"b":2,"c":2,"e":3},d=3,yossi=3)

a
b
c
('e',)
{'d': 3, 'yossi': 3}

In [206]:
func2(1,**{"e":(1,2,3),"b":2},d=3,yossi=3)

1
2
None
()
{'e': (1, 2, 3), 'd': 3, 'yossi': 3}

#### time to practice!

Ex.1.1

In [280]:
# create a function that implement the string method "split" by the following function signature 
# without using the split method (str.split())!
# only using: data types, data structures, conditions, loops, functions 
# the function should return a value that is equal to the value that string.split() would return
# fill free to add as many variables as you like to the function

In [281]:
def split(string,by):
#     string - the string to proccess
#     by - the char to split the string vaeiable by
    ...

In [328]:
def split(string,by=" "):
    
    values = [""]
    
    for i in string:
        
        if i != by:
            values[-1] += i
        else:
            values.append("")
    
    return [x for  x in values if x != ""]