---
<img height="90" src="unnamed.png" width="90" alt="Google" id="hplogo" title="Gacademy">
<center><h2>welcome to the python course for Gstat Employees</h2></center>
<center><h2>Class 1.1</h2></center>

---

# Syntex

#### Variable Assignment

- A variable and it's type are created and defined the first time it appears on the left side of an assignment expression:
    x = 3
- An object is deleted (by the garbage collector) upon command (del). Be carful not to overload data on Python's environment.

In [1]:
# Can not start with number or special characters
name_of_var = 2

In [2]:
name_of_var = 2; name_of_var = 3;

In [3]:
name_of_var = 2 name_of_var = 3

SyntaxError: invalid syntax (<ipython-input-3-463e949fca83>, line 1)

In [4]:
x = 2
y = 3

In [5]:
z = x + y
z

5

In [6]:
x == y

False

In [7]:
# this is a comment

In [8]:
# גם זאת הערה!

#### print command

In [9]:
x = 'HI all'

In [10]:
print(x)

HI all

In [11]:
My_type = type(x)
My_type

str

In [12]:
print('The {} cries at {}'.format('wolf' , 'night'))

The wolf cries at night

In [159]:
print('Use \nto print a new line and \t to generate tab space')

Use
to print a new line and 	 to generate tab space

In [162]:
print("a","b",1)

a b 1

# Data Types and structures

#### numeric

In [14]:
1 + 1

2

In [15]:
# Jupyter Notebook catches last variable it received and prints it
1 + 1
4 - 5

-1

In [16]:
1 * 3

3

In [17]:
1 / 2

0.5

In [18]:
4 % 2 # modulo

0

In [19]:
4 ** 0.5 # square root

2.0

In [20]:
(2 + 3) * (5 + 5)

50

In [21]:
type(4 ** 0.5)

float

In [22]:
type(2 + 3)

int

In [23]:
type(1)

int

In [24]:
type('hello')

str

In [25]:
type(2.5)

float

In [26]:
type(True)

bool

================================================================================================================

#### Strings and chars basics

In [27]:
# Assign s as a string
s = 'Hungry,hungry hippo'

In [28]:
type(s)

str

In [29]:
# Assign s as a string
s2 = "Hungry, hungry hippo"

####

In [30]:
type(s2)

str

In [31]:
# Print the object
print(s)

Hungry,hungry hippo

In [32]:
# Show first element (in this case a letter)
s[0]

'H'

In [33]:
# SHow i+1 th letter
i = 4
s[i]

'r'

In [34]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ungry,hungry hippo'

In [35]:
# Note that there is no change to the original s
s

'Hungry,hungry hippo'

In [36]:
# Grab everything UP TO the 3rd index
s[:3]

'Hun'

We can also use negative indexing to go backwards.

In [37]:
# Last 5 letters 
s[-5:]

'hippo'

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [38]:
# Skip 1 digit
s[::2]

'Hnr,ugyhpo'

In [39]:
# Backwards
s[::-1]

'oppih yrgnuh,yrgnuH'

#### Basic Built-in String methods

Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

Here are some examples of built-in methods in strings:

In [40]:
s

'Hungry,hungry hippo'

In [41]:
# Split by space
s.split()

['Hungry,hungry', 'hippo']

In [42]:
# Split by comma (or other string)
s.split(',')

['Hungry', 'hungry hippo']

In [43]:
#find gets the first location of a given substring
s.find('g')

3

In [158]:
# Find more built-in methods for the given object by adding '.' and press tab
s

'Hungry,hungry hippo'

================================================================================================================

#### Tuples

In Python tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed.  
You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar. 

#### Constructing Tuples

The construction of a tuples use () with elements separated by commas. For example:

In [45]:
# Can create a tuple with mixed types
t = (1,2,3)

In [46]:
# Check len just like a list
len(t)

3

In [47]:
# Can also mix object types
t = ('one',2)

# Show
t

('one', 2)

In [48]:
# Use indexing just like we did in lists
t[0]

'one'

In [49]:
# Slicing just like a list
t[-1]

2

#### Basic Tuple Methods

Tuples have built-in methods, but not as many as lists do. Lets look at two of them:

In [50]:
# Use .index to enter a value and return the index
t.index('one')

0

In [51]:
# Use .count to count the number of times a value appears
t.count('one')

1


It can't be stressed enough that tuples are immutable. To drive that point home:

In [52]:
t[0]= 'change'

TypeError: 'tuple' object does not support item assignment

Because of this immutability, tuples can't grow. Once a tuple is made we can not add to it.

#### When to use Tuples
 
Tuples are used when immutability is necessary, i.e. when you want to ensure that passed object will not be modified.

================================================================================================================

#### Lists

The most common data type in Python.

Somewhat similar to string / sequence

Comma separates between elements

In [53]:
my_list = [1,2,3]

We just created a list of integers, but lists can actually hold different object types. For example:

In [54]:
my_list = ['A string',23,100.232,True]

Just like strings, the len() function will tell you how many items are in the sequence of the list.

In [55]:
len(my_list)

4

In [56]:
my_list = ['apple' , 'banana' , 'monkey' , 2/3]
### Index:    0         1           2       3

In [57]:
my_list[1:]

['banana', 'monkey', 0.6666666666666666]

In [58]:
# Grab everything UP TO index 3
my_list[:3]

['apple', 'banana', 'monkey']

We can also use + to concatenate lists, just like we did for strings.

In [59]:
my_list + ['new item']

['apple', 'banana', 'monkey', 0.6666666666666666, 'new item']

Note: This doesn't actually change the original list!

In [60]:
my_list

['apple', 'banana', 'monkey', 0.6666666666666666]

You would have to reassign the list to make the change permanent.

In [61]:
my_list = my_list + ['new item']

We can also use the * for a duplication method similar to strings:

In [62]:
# Again doubling not permanent
my_list

['apple', 'banana', 'monkey', 0.6666666666666666, 'new item']

In [63]:
#One-row-list:
[i for i in range(2,10,2)]

[2, 4, 6, 8]

#### Basic List Methods

If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).

Let's go ahead and explore some more special methods for lists:

In [64]:
# Create a new list
l = [1,2,3]

Use **pop** to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

In [65]:
# Pop off the 0 indexed item
l.pop(0)

1

In [66]:
# Show
l

[2, 3]

Use the **append** method to permanently add an item to the end of a list:

In [67]:
# Append
l.append('append me!')

In [68]:
# Show
l

[2, 3, 'append me!']

#### add object to list
Many times people find the difference between extend and append to be unclear. So note:

**append: Appends object at end**

In [69]:
x = [1, 2, 3]
x.append([4, 5])
print(x)

[1, 2, 3, [4, 5]]

Additional way to add object/s:

In [70]:
x = [1, 2, 3]
x += [[4, 5]]
print(x)

[1, 2, 3, [4, 5]]

In [71]:
x = [1, 2, 3]
x += [4, 5]
print(x)

[1, 2, 3, 4, 5]

Note how extend append each element in that iterable. That is the key difference.

#### insert 
insert takes in two arguments: insert(index,object) This method places the object at the index supplied. For example:

In [72]:
# Place a letter at the index 2
x.insert(2,'inserted')

In [73]:
x

[1, 2, 'inserted', 3, 4, 5]

#### remove
The remove() method removes the first occurrence of a value. For example:

In [74]:
x

[1, 2, 'inserted', 3, 4, 5]

In [75]:
x.remove('inserted')

In [76]:
x

[1, 2, 3, 4, 5]

In [77]:
l = [1,2,3,4,3]

In [78]:
l.remove(3)

In [79]:
l

[1, 2, 4, 3]

#### count
We discussed this during the methods lectures, but here it is again. count() takes in an element and returns the number of times it occures in your list:

In [80]:
l = [1, 3, 3, 2, 5]
l.count(3)

2

#### sort
'sort' will sort your list in place:

In [81]:
l

[1, 3, 3, 2, 5]

In [82]:
l.sort()

In [83]:
l

[1, 2, 3, 3, 5]

#### Warning - Binding list object:
Unlike numeric/string variables , Changing list will also change it's copy:

In [84]:
l_copy = l

In [85]:
l_copy

[1, 2, 3, 3, 5]

In [86]:
l.remove(2)

In [87]:
# Show remaining list
l

[1, 3, 3, 5]

In [88]:
l_copy

[1, 3, 3, 5]

================================================================================================================

#### Sets

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function.

In [90]:
x = set()

In [91]:
# We add to sets with the add() method
x.add(1)

In [92]:
#Show
x

{1}

In [93]:
# Add a different element
x.add(2)

In [94]:
#Show
x

{1, 2}

In [95]:
# Try to add the same element
x.add(1)

In [96]:
#Show
x

{1, 2}

Notice how it won't place another 1 there. That's because a set is only concerned with unique elements! We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [97]:
# Create a list with repeats
l = [1,1,2,2,3,4,5,6,1,1]

In [98]:
# Cast as set to get unique values
set(l)

{1, 2, 3, 4, 5, 6}

================================================================================================================

#### Dictionaries

Collection of objects that are stored by a *key*
Doesn't retain order since they have objects defined by a key.



#### Constructing a Dictionary

In [99]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [100]:
# Call values by their key
my_dict['key2']

'value2'

Its important to note that dictionaries are very flexible in the data types they can hold. For example:

In [101]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [102]:
#Lets call items from the dictionary
my_dict['key3']

['item0', 'item1', 'item2']

In [103]:
# Can call an index on that value
my_dict['key3'][0]

'item0'

We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it:

In [104]:
# Create a new dictionary
d = {}

In [105]:
# Create a new key through assignment
d['animal'] = 'Dog'

In [106]:
# Can do this with any object
d['answer'] = 42

In [107]:
#Show
d

{'animal': 'Dog', 'answer': 42}

#### A few Dictionary Methods

There are a few methods we can call on a dictionary. Let's get a quick introduction to a few of them:

In [108]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [109]:
d['key2']

2

In [110]:
# Method to return a list of all keys 
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [111]:
# Method to grab all values
d.values()

dict_values([1, 2, 3])

In [112]:
[i for i in d.values()]

[1, 2, 3]

In [113]:
# Which can behave as a list
for i in d.keys():
    print (d[i])

1
2
3

In [114]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [115]:
for key,value in d.items():
    print (key,value)

key1 1
key2 2
key3 3

================================================================================================================

#### Boolean

In [117]:
# Set object to be a boolean
a = True

In [118]:
#Show
a

True

In [119]:
not a

False

We can also use comparison operators to create booleans. We will go over all the comparison operators later on in the course.

In [120]:
# Output is boolean
1 > 2

False

We can use None as a placeholder for an object that we don't want to reassign yet:

In [ ]:
# None placeholder
b = None

================================================================================================================

#### Null values

- Sometimes we represent "no data" or "not applicable".  

- In Python we use the special value `None`.

- This corresponds to `Null` in Java or SQL.

In [122]:
result = None

- When we fetch the value `None` in the interactive interpreter, no result is printed out.

In [123]:
result

- We can check whether there is a result or not using the `is` operator:

In [124]:
result == True

False

In [125]:
result != True

True

In [126]:
result is None

True

In [127]:
x = 5
x is None

False

In [132]:
1 in [2,3,1]

True

================================================================================================================

#### Dates and Times

In [133]:
import datetime as dt
import time as tm

<br>
`time` returns the current time in seconds since the Epoch. (January 1st, 1970)

In [134]:
tm.time()

1539077236.0266752

<br>
Convert the timestamp to datetime.

In [135]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2018, 10, 9, 12, 27, 16, 395082)

<br>
Handy datetime attributes:

In [136]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second # get year, month, day, etc.from a datetime

(2018, 10, 9, 12, 27, 16)

<br>
`timedelta` is a duration expressing the difference between two dates.

In [137]:
delta = dt.timedelta(days = 100) # create a timedelta of 100 days
delta

datetime.timedelta(100)

<br>
`date.today` returns the current local date.

In [138]:
today = dt.date.today()

In [139]:
today - delta # the date 100 days ago

datetime.date(2018, 7, 1)

In [140]:
today > today-delta # compare dates

True

================================================================================================================

### Types conversion (casting)

In [141]:
x = 1/2

In [142]:
x

0.5

In [143]:
type(x)

float

In [144]:
int(x)

0

In [145]:
x = str(1/2)

In [146]:
x

'0.5'

In [148]:
type(x)

str

================================================================================================================

#### time to practice!

Ex.1.1

In [149]:
# create a dictionary with 4 <key,value> pairs that show the following information:
# 1. the division of 5 and 2 
# 2. the integer value of 5 divided by 2
# 3. the remnant value of 5 divided by 2
# 4. a tuple that contains each char of the string representation of the first value (the result of 1.)

# name the keys as you wish, and create the values according to the instructions above

Ex.1.2

In [150]:
# create a list that contains all the values in the dictionary from Ex1.1

Ex.1.3

In [151]:
# cast the list from Ex1.3 to a tuple

Ex.1.4

In [152]:
# cast the list from Ex1.3 to a tuple

Ex.1.5

In [153]:
# print a string that contains only the substring "this is great" from the string "this is great, and i love it" and save it to 
# a variable with the name s, for example s = ...

Ex.1.6

In [174]:
# turn all the chars in the following string that are higher case to lower case: "Can You Lower Case Me?"